
@font-face {
  font-family: 'iconfont';  /* project id 2089256 */
  src: url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.eot');
  src: url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2089256_bsirqshg3up.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
	font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaobiao:before {
  content: "\e6bd";
}

.icon-chaobiaoguanli:before {
  content: "\e605";
}

.icon-yijiedan:before {
  content: "\e60d";
}

.icon-daipingjia:before {
  content: "\e62d";
}

.icon-yiwancheng:before {
  content: "\e6a6";
}

.icon-daijiedan:before {
  content: "\e63d";
}

.icon-yiwancheng1:before {
  content: "\e629";
}

.icon-shuidianbiaochaobiao:before {
  content: "\e65d";
}

.icon-shishichaobiao:before {
  content: "\e610";
}

.icon-dianhua:before {
  content: "\e608";
}

.icon-tongzhi:before {
  content: "\e63e";
}

.icon-iconxx2:before {
  content: "\e636";
}

.icon-yousanjiao:before {
  content: "\e802";
}

.icon-xiugaimima:before {
  content: "\e631";
}

.icon-shangchuanzhaopian:before {
  content: "\e63c";
}

.icon-yanjizhushou-shangchuan_xitong:before {
  content: "\e633";
}

.icon-quxiao:before {
  content: "\e61f";
}

.icon-baoxiu:before {
  content: "\e8f7";
}

.icon-tongxunlu:before {
  content: "\e720";
}

.icon-wode:before {
  content: "\e63a";
}

.icon-shouye:before {
  content: "\e659";
}

.icon-gerenxinxi:before {
  content: "\e634";
}

.icon-yiban:before {
  content: "\e73c";
}
